{
    "parser": "@typescript-eslint/parser",

    "env": {
      "browser": false,
      "node": true,
      "jest": true,
      "es6": true
    },

    "plugins": [
      "@typescript-eslint"
    ],

    "parserOptions": {
      "sourceType": "module"
    },

    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ]
  }